
.main-content{
    background-image: url(../../assets/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    flex: 1;
    justify-content: center;
    align-items: center;
    left: 372px;
    height: 100%;
    width: 77vw;
    padding: 0px 4px;
    /* linear-gradient( rgba(2, 2, 2, 0.473)  , rgba(2, 2, 2, 0.473)), */
}

